@media all and (min-width:981px){
    .mo{display: none;}
    *{
        margin: 0;
        padding: 0;
    }
    html,body{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        /* background: #fff; */
    }
    a{
        display: block;
        text-decoration: none;
        color: black;
    }
    #canvas{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        perspective: 1500px;
        transition-duration: 0.5s;
    }
    #rotation{
        position: absolute;
        top: -600px;
        left: 50%;
        transform-style: preserve-3d;
        background: lightgreen;
        transition-duration: 0.5s;
        
        
    }
    .face{
        width: 510px;
        height: 250vh;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/bg.png);
        background-repeat: repeat-y;
        backface-visibility: hidden; 
        transform-style: preserve-3d;
        margin-left: -400px;
    }
    .face_1{
        transform: rotateY(0deg) translateZ(-1200px);
    }
    .face_2{
        transform: rotateY(24deg) translateZ(-1200px);
    }
    .face_3{
        transform: rotateY(48deg) translateZ(-1200px);
    }
    .face_4{
        transform: rotateY(72deg) translateZ(-1200px);
    }
    .face_5{
        transform: rotateY(96deg) translateZ(-1200px);
    }
    .face_6{
        transform: rotateY(120deg) translateZ(-1200px);
    }
    .face_7{
        transform: rotateY(144deg) translateZ(-1200px);
    }
    .face_8{
        transform: rotateY(168deg) translateZ(-1200px);
    }
    .face_9{
        transform: rotateY(192deg) translateZ(-1200px);
    }
    .face_10{
        transform: rotateY(216deg) translateZ(-1200px);
    }
    .face_11{
        transform: rotateY(240deg) translateZ(-1200px);
    }
    .face_12{
        transform: rotateY(264deg) translateZ(-1200px);
    }
    .face_13{
        transform: rotateY(288deg) translateZ(-1200px);
    }
    .face_14{
        transform: rotateY(312deg) translateZ(-1200px);
    }
    .face_15{
        transform: rotateY(336deg) translateZ(-1200px);
    }
    
    /* .cell{
       
        border: 1px solid black;
        box-sizing: border-box;
        transition-duration: 0.5s;
    } */
    .logo{
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        
    }
    .logo>img{
        display: block;
        width: 100%;
        transform-style: preserve-3d;
        transform: translateZ(800px);
    }
    .but{
        width: 20px;
        height: 20px;
        border-radius: 15px;
        background: black;
        position: absolute;
        left: -3.2%;
        z-index: 9999999;
    }
    .text{
        width: 100px;
        height: 50px;
        position: absolute;
        left: 0;
        font-size: 30px;
    }
    .box{
        width: 200px;
        height: 200px;
    }
    .box:hover .but{
        background: red;
    }
    .box:hover .text{
       color: red;
    }
    .women{
        top: 51.5%;
    }
    .women_text{
        top: 52%;
    }
    .man{
        top: 25%;
    }
    .man_text{
        top: 25.4%;
    }
    .home{
        top: 65%;
    }
    .home_text{
        top: 66%;
    }
    .kid{
        top: 38.3%;
    }
    .kid_text{
        top: 39%;
    }
    .sports{
        top: 38.3%;
    }
    .sports_text{
        top: 39%;
    }
    .baby{
        top: 51.5%;
    }
    .baby_text{
        top: 52%;
    }
    .bg_video_wrap{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    .bg_video_wrap>video{
        width: 100%;
        position: absolute;
        top: 0;
        display: none;
        
    }
}
    

